header{
  position: relative;
  z-index: 990;

  & nav.fixed-top {
    background: transparent !important;

    &:after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      backdrop-filter: blur(27px);
    }
  }
  .dropdown-menu{
    border-top: 2px solid #EF4E23;
    border-bottom: 10px solid #EF4E23;
    border-radius: 0;
    border-left: none;
    border-right: none;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    background: transparent;
    top: 45px;
    .dropdown-item {
      position: relative;
      z-index: 4;
      text-align: right;
      @include media-breakpoint-down(md) {
        text-align: left;
      }
      &:hover{
        background: rgba(239, 78, 35, 0.2);
      }
    }
    &:after{
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      backdrop-filter: blur(27px);
      z-index: 1;
    }
    @include media-breakpoint-down(md) {
      box-shadow: none;
      border: none;
      .dropdown-item{
        padding: 7px 0 !important;
      }
    }
    .dropdown-item{
      display: block;
      font-size: 14px;
      padding: 7px 20px;
    }
  }
}
.menu-item{
  border-right:1px solid #959595;
  font-size: 20px;
  a.nav-link {
    position: relative;
    z-index: 4;
    padding: 0 20px !important;
    @include media-breakpoint-down(md) {
      padding: 7px 0 !important;
    }
  }

  @include media-breakpoint-down(md) {
    border-right: none;
    a {
      padding: 10px 0!important;
    }
  }
}